@import "tailwindcss";


:root {
  /* Base */
  --background: #0b0d0e;
  --foreground: #e5e7eb;

  /* Surfaces */
  --surface: #111315;
  --surface-muted: #16191c;

  /* Accent (Neon Green) */
  --accent: #9adf3b;
  --accent-foreground: #0b0d0e;

  /* UI */
  --border: #1f2428;
  --muted: #9ca3af;
  --muted-foreground: #6b7280;

  /* Status */
  --success: #9adf3b;
  --warning: #facc15;
  --danger: #ef4444;

  /* Radius */
  --radius: 14px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-surface: var(--surface);
  --color-surface-muted: var(--surface-muted);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-border: var(--border);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-danger: var(--danger);

  --radius-lg: var(--radius);

  --font-sans: var(--font-inter-tight);
  /* --font-serif: var(--font-libre-baskerville); */
}

@layer base {
  body {
    @apply bg-background text-foreground font-sans;
  }

  /* h1,
  h2,
  h3,
  h4 {
    @apply font-serif;
  } */
}